body {
    background-image: url('../images/background.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-message h2, 
.home-message h3 {
    margin: 45px 0 3px 0;
    line-height: 1.5; 
}

#home {
    width: auto;
    padding-right: 15px;
    padding-top: 1.7em;
    justify-content: right;
    padding-left: 15px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1
}

#home .home-message {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

#home>img {
    height: 240px;
    width: 230px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.home-message h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}

.home-message h3 {
    color: #ffffff;
    font-size: 85px;
    text-shadow: none;
    line-height: 1;
    font-weight: 700;
    text-align: center;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: uppercase;
    text-shadow: 0 2px 4.8px rgba(0, 0, 0, 0.3);
    font-family: "Agency FB";
}
